html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  width: 80;
}

.overflow {
  height: 100%;
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

#nprogress .bar {
  background: #ff5367 !important;
}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030518;
    color: white;
    word-break: break-all;
  }
  
  li {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
  
  li span {
    margin: 10px;
  }
  
  h1 {
    margin: 20px auto;
  }